.rm-grid {
  display: grid;
  grid-template-columns: repeat(2, 590px);
  gap: 35px;
  padding: 80px;
  height:  120vh;
  background: #1f232a;
   justify-content: center; 
}

.rm-card {
  display: flex;
  background: #3b3f46;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  min-height: 150px;
}

.rm-card img {
  width: 250px;
  object-fit: cover;
}
.rm-link {
  color: white;
  text-decoration: none;
  /* font-size: 20px; */
}

.rm-link:hover {
  color: orange;
}
.rm-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rm-info h2 {
  margin-bottom: 6px;
  /* font-size: 30px; */
}

.status {
  font-size: 14px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.green { background: #2ecc71; }
.red { background: #e74c3c; }
.gray { background: gray; }

.label {
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
}
