.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.1); */
  /* position: sticky; */
  top: 0;
  z-index: 1000;
}

/* Left side (logo) */
.header-left {
  display: flex;
  align-items: center;
}

/* Right side (menu + button) */
.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  font-weight: 500;
}

.menu li:hover {
  color: orange;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all ease 0.4s;
}

.menu li a:hover {
  color: orange;
}
/* Support button */
.support-btn {
  padding: 8px 16px;
  border: 2px solid orange;
  background: transparent;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all ease 0.4s;
}

.support-btn:hover {
  background: orange;
  color: white;
}
